*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    display:block;
    font-family: pretendard, sans-serif;
    font-style: normal;
}

img{
    display: block;
    border:0;
}